<div class="panel panel-flat">
  <div class="panel-heading">
    <h1 class="panel-title">Editing công ty</h1>
  </div>
  <div class="panel-body">
    <%= render 'form', congty: @congty %>
    <%= link_to 'Back', admin_congties_path %>
  </div>

</div>
