<% if notice.present? %>
  <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
    <button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>
    <span class="text-semibold"><%= notice %></span>
  </div>
<% end %>
<div class="panel panel-flat">
  <div class="panel-heading">
    <h1 class="panel-title">Editing công ty</h1>
  </div>
  <div class="panel-body">
    <%= render 'form', congty: @congty %>
    <%= link_to 'Back', admin_congties_path %>
  </div>

</div>
