<p id="notice"><%= notice %></p>

<p>
  <strong>Tencongty:</strong>
  <%= @congty.tencongty %>
</p>

<%= link_to 'Edit', edit_admin_congty_path(@congty) %> |
<%= link_to 'Back', admin_congties_path %>
