<div class="panel panel-flat">
  <div class="panel-heading">
    <h1 class="panel-title">Tạo mới địa điểm</h1>
  </div>
  <div class="panel-body">
    <%= render 'form', diadiem: @diadiem %>
    <%= link_to 'Back', admin_diadiems_path %>
  </div>

</div>
