<p id="notice"><%= notice %></p>

<p>
  <strong>Tendiadiem:</strong>
  <%= @diadiem.tendiadiem %>
</p>

<%= link_to 'Edit', edit_admin_diadiem_path(@diadiem) %> |
<%= link_to 'Back', admin_diadiems_path %>
