<p id="notice"><%= notice %></p>

<p>
  <strong>Tenvitri:</strong>
  <%= @vitricongviec.tenvitri %>
</p>

<%= link_to 'Edit', edit_vitricongviec_path(@vitricongviec) %> |
<%= link_to 'Back', vitricongviecs_path %>
