<div class="panel panel-flat">
  <div class="panel-heading">
    <h1 class="panel-title">Tạo mới vị trí công việc</h1>
  </div>
  <div class="panel-body">
      <%= render 'form', vitricongviec: @vitricongviec %>
      <%= link_to 'Back', admin_vitricongviecs_path %>
  </div>

</div>

