<!-- page content wrapper -->
<div class="page-content-wrap bg-img-2 light-elements">
  <!-- page content holder -->
  <div class="page-content-holder">
    sfsdsdf
  </div>
  <!-- ./page content holder -->
</div>
<!-- ./page content wrapper -->