<div class="panel panel-flat">
  <div class="panel-heading">
    <h1 class="panel-title">Tạo mới hồ sơ</h1>
  </div>
  <div class="panel-body">
    <%= render 'form', thongtincanhan: @thongtincanhan %>
    <%= link_to 'Back', admin_thongtincanhans_path %>
  </div>

</div>

